html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

strong {
    margin-right: 5px;
}

.Programs {
    padding:10px;
}

.episode p {
    margin-bottom: 10px;
}
.episode {
    margin-bottom :20px;
}